.btn {
    box-shadow: none !important;
    padding: 5px 60px;
    margin: 12px 0px;
    padding: 5px 60px;
    margin: 12px 0px;
    color: #fff;
    background: #21325D;
}


.css-1gqfr5c-MuiButtonBase-root-MuiTab-root {
    box-shadow: none !important;
    margin: 12px 0px !important;
    padding: 5px 50px !important;
    margin: 12px 0px !important;
    color: #21325D !important;
    font-weight: 600 !important;
    background: #FFFBFB !important;
    border-width: 3px 2px 3px 3px !important;
    /* border: 3px solid #21325D !important; */
    /* border-right: 2px !important; */
    border-style: solid !important;
    border-color: #21325D !important;
}

.css-1gqfr5c-MuiButtonBase-root-MuiTab-root:nth-child(2) {
    border-width: 3px 0px 3px 3px !important;
}

.css-1gqfr5c-MuiButtonBase-root-MuiTab-root.Mui-selected {
    background: #21325D !important;
    padding: 5px 50px !important;
    /* border: 3px solid #fff !important; */
    border: 3px solid #21325D !important;
    color: #fff !important;
    /* border: 2px solid #21325D !important; */
}

.btn:hover {

    background-color: #21325D;
    color: white;
}

.backWall {
    border: 2px solid #d5d4d4;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.css-heg063-MuiTabs-flexContainer {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

@media screen and (min-width: 600px) and (max-width: 850px) {
    .css-heg063-MuiTabs-flexContainer {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .css-1gqfr5c-MuiButtonBase-root-MuiTab-root {

        padding: 5px 32px !important;

    }

    .interchange img {
        width: 40px;
    }
}