.text {
  list-style: none;
}
.logoname {
  background-color: white;
  border-radius: 5px;
}
.active-nav {

  border-radius: 5px;
  text-align: center;
  background-color:#21325D;
  color:white !important;
}
.squre:hover{
  background-color: rgb(240, 186, 153);
}
