thead th {
    padding: 10px; 
    border-bottom: 1px solid #ccc; 
    text-align: left; 
  }
.event_data table {
    width: 100%;
    border-collapse: collapse;
}
  

.tableMarginTop {
    margin-top: 80px;
}
  .event_data th, .event_data td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
    color: black;
  }

  
  .event_data th {
    background-color: #f2f2f2;
  }

  
  
  .event_data tr:nth-child(even){
    background-color: rgb(247, 241, 241)!important;
    
  }
  .event_data tr:nth-child(odd) {

    background-color: rgb(226, 230, 230)!important;
  }
 

.pagination-container{
    display: flex !important;
    justify-content: center;
    align-items: center;
}
#num {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

#num li {
    margin: 0 5px; 
    border: none;
}

#num li.active {
    background-color: #1195ed;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}
.arrow {
    background-color: transparent;
    color: #2398d3;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 5px;
}
