.sub-admin-login-form {
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(46, 177, 238);
  width: 350px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative; /* Added position relative for absolute positioning */
  margin-top: 5%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* New background animation */
.sub-admin-login-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #2196F3, #4CAF50); /* You can adjust gradient colors */
  opacity: 0.3; /* Adjust the opacity as needed */
  z-index: -1;
  animation: backgroundAnimation 10s infinite alternate;
}

@keyframes backgroundAnimation {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.subAdminheading{
  text-align: center;
  /* display: flex; */
  align-items: center;
  margin-bottom: 20px;
}
/* Rest of your existing styles... */


/* .subAdminForm {
  display: flex;
  flex-direction: column;
  background-color: rgb(46, 177, 238);
} */

.form-label-subAdmin {
  font-weight: bold;
  color: #0e0a0a;
  /* margin-bottom: 5px; */
}

.form-input-subAdmin {
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 16px;
  width: 190%;
  outline: none;
  background-color: #f5f5f5;
}

.subAdminsubmit-button {
  background-color: #66daf7;
  color: #2196F3;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s ease-in-out;
}

.submit-button-subAdmin:hover {
  background-color: #10771a;
}

.form-input-subAdmin:hover{
  color: rgb(168, 168, 159);
}
  /* Optional styles for error message */
  
  .error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }
  
  